@Var Pokemon Poke
@Namespace PokemonRpg

<html>
	<head>
		<title>Pokémon Character Sheet</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta charset="UTF-8">
	</head>
	<style>
.flex
{
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: flex;
}
.flex-stretch
{
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
.flex-center
{
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.flexBoxRow
{
	width: 100%;
	height: 100%;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.flexBoxColumn
{
	width: 100%;
	height: 100%;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
.noFlexShrink
{
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
}
.flex1
{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1;
}
.flex2
{
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2 2 auto;
	flex: 2;
}
.flex3
{
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3 3 auto;
	flex: 3;
}
.flex5
{
	-webkit-box-flex: 5;
	-moz-box-flex: 5;
	-webkit-flex: 5;
	-ms-flex: 5 5 auto;
	flex: 5;
}
.red { background-color: #F00; }
.green { background-color: #0F0; }
.blue { background-color: #00F; }

.wide
{
	width: 100%;
}

body
{
	padding: 20px;
	margin: 0px;
	font-family: arial, sans-serif;
}

table
{
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}

td, th {
	border: 1px solid #000;
	text-align: left;
	padding: 0px;
}

.positionAnchor
{
	position: relative;
}
.subtitle
{
	font-size: 10;
	position: absolute;
	left: 1;
	top: 1;
	word-wrap: normal;
}
.infoCell
{
	padding: 8px;
	overflow: clip;
}
.noBorder
{
	border: 0px solid #000;
}
.noBorderRight
{
	border-right: 0px solid #000;
}
.noBorderBottom
{
	border-bottom: 0px solid #000;
}
.padTop
{
	padding-top: 12px;
}
h2
{
	padding: 6px;
	margin: 0px;
}
.pokemonName
{
	font-size: 18pt;
}

	</style>
	<body>
		<div class="flex">
			<table class="wide">
			<tr>
			<td class="noBorder">
				<h2>Pokémon Information</h2>
				<div class="flex flexBoxRow flex-stretch">
					<div class="flex flex1">
						<table class="wide">
						<tr>
							<td class="positionAnchor infoCell padTop noBorderRight">
							<span class="subtitle">Name</span>&nbsp;&nbsp;<span class="pokemonName">${Poke.Name}</span>
							</td>
						</tr>
						<tr>
							<td class="positionAnchor infoCell padTop noBorderRight">
							<span class="subtitle">Level</span>&nbsp;&nbsp;<span>${Poke.Level}</span>
							</td>
						</tr>
						<tr>
							<td class="positionAnchor infoCell padTop noBorderRight">
							<span class="subtitle">Type</span>&nbsp;&nbsp;<span>${Poke.Type}</span>
							</td>
						</tr>
						<tr>
							<td class="positionAnchor infoCell padTop noBorderRight noBorderBottom">
							<span class="subtitle">Ability</span>&nbsp;&nbsp;<span>${Poke.Ability}</span>
							</td>
						</tr>
						<tr>
							<td class="positionAnchor infoCell padTop noBorderRight noBorderBottom">
							<span class="subtitle">Current HP</span>&nbsp;&nbsp;<span></span>
							</td>
						</tr>
						</table>
					</div>
					<div class="flex flex2">
						<table class="wide">
						<tr>
							<th class="infoCell">
							Stat
							</th>
							<th class="infoCell">
							Value
							</th>
							<th class="infoCell noBorderRight">
							Game Value
							</th>
						</tr>
						<tr>
							<td class="infoCell">
								Health
							</td>
							<td class="infoCell">
								${Poke.Stat_Health_Leveled}
							</td>
							<td class="infoCell noBorderRight">
								${Poke.MaxHp} Max HP
							</td>
						</tr>
						<tr>
							<td class="infoCell">
								Attack
							</td>
							<td class="infoCell">
								${Poke.Stat_Attack_Leveled}
							</td>
							<td class="infoCell noBorderRight">
								${Poke.Stat_Attack_Dice} dice
							</td>
						</tr>
						<tr>
							<td class="infoCell">
								Defense
							</td>
							<td class="infoCell">
								${Poke.Stat_Defense_Leveled}
							</td>
							<td class="infoCell noBorderRight">
								${Poke.Stat_Defense_Dice} dice
							</td>
						</tr>
						<tr>
							<td class="infoCell">
								Sp. Atk
							</td>
							<td class="infoCell">
								${Poke.Stat_SpecialAttack_Leveled}
							</td>
							<td class="infoCell noBorderRight">
								${Poke.Stat_SpecialAttack_Dice} dice
							</td>
						</tr>
						<tr>
							<td class="infoCell">
								Sp. Def
							</td>
							<td class="infoCell">
								${Poke.Stat_SpecialDefense_Leveled}
							</td>
							<td class="infoCell noBorderRight">
								${Poke.Stat_SpecialDefense_Dice} dice
							</td>
						</tr>
						<tr>
							<td class="infoCell noBorderBottom">
								Speed
							</td>
							<td class="infoCell noBorderBottom">
								${Poke.Stat_Speed_Leveled}
							</td>
							<td class="infoCell noBorderRight noBorderBottom">
								${Poke.Stat_Speed_Dice} dice, ${Poke.Stat_Speed_MoveDistanceMeters}m move
							</td>
						</tr>
						</table>
					</div>
					<div class="flex flex1">
						<table class="wide tall">
							<tr>
							<td class="infoCell noBorderBottom">
								<for each='var element in Poke.GetResistancesAndWeaknesses()'>
									<if condition='Math.Abs(element.Item2) < 0.01f'>
										<span>Immune to ${element.Item1}</span><br/>
									</if>
									<if condition='Math.Abs(element.Item2 - 0.25f) < 0.01f'>
										<span>Very resistant to ${element.Item1}</span><br/>
									</if>
									<if condition='Math.Abs(element.Item2 - 0.5f) < 0.01f'>
										<span>Resistant to ${element.Item1}</span><br/>
									</if>
									<if condition='Math.Abs(element.Item2 - 2.0f) < 0.01f'>
										<span>Weak to ${element.Item1}</span><br/>
									</if>
									<if condition='Math.Abs(element.Item2 - 4.0f) < 0.01f'>
										<span>Very weak to ${element.Item1}</span><br/>
									</if>
								</for>
							</td>
							</tr>
						</table>
					</div>
				</div>
			</tr>
			</td>
			<tr>
			<td class="noBorder">
				<table class="wide">
					<tr>
						<td class="positionAnchor infoCell padTop">
							<span class="subtitle">Ability Description</span>&nbsp;&nbsp;<span>${Poke.Ability}</span>
						</td>
					</tr>
				</table>
			</td>
			</tr>
			<tr>
			<td class="noBorder">
				<h2>Moves</h2>
				<for each='var move in Poke.Moves'>
					<table class="wide">
						<tr>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Name</span>&nbsp;&nbsp;<span>${move.Name}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Type</span>&nbsp;&nbsp;<span>${move.Type.GetValueOrDefault(ElementalType.Normal)}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Category</span>&nbsp;&nbsp;<span>${move.Category.GetValueOrDefault(PokemonMoveCategory.Physical)}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Power</span>&nbsp;&nbsp;<span>${move.BasePower.HasValue ? move.BasePower.Value.ToString() : "-"}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Atk.&nbsp;Dice</span>&nbsp;&nbsp;<span>${move.AttackDice(Poke).HasValue ? move.AttackDice(Poke).Value.ToString() : "-"}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Accuracy</span>&nbsp;&nbsp;<span>${move.AccuracyP20}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Priority</span>&nbsp;&nbsp;<span>${move.Priority}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Level</span>&nbsp;&nbsp;<span>${move.LearnedAtLevel}</span>
							</td>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Targets</span>&nbsp;&nbsp;<span>${move.Targets}</span>
							</td>
						</tr>
					</table>
					<table class="wide">
						<tr>
							<td class="positionAnchor infoCell padTop noBorderBottom">
								<span class="subtitle">Description</span>&nbsp;&nbsp;<span>${move.Description}</span>
							</td>
						</tr>
					</table>
				</for>
			</tr>
			</td>
			</table>
		</div>
	</body>
</html>